body {
  font-family: "Poppins", sans-serif;
}

/* color declaration  */
:root {
  --primary-color: white;
  --seconday-color: black;
  --theme-one: #fb2576;
  --bg-color: #3f0071;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 12px 0px;
  padding: 0px;
}

.container {
  max-width: 1280px;
  width: 1200px;
  margin: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    width: 400px;
    margin: auto;
  }
}
