.quesOption {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.questionsSection {
  padding: 20px 0px;
}
.quesTitle {
  display: grid;
  grid-template-columns: 12fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.options {
  font-size: 14px;
  width: 500px;
  margin: 6px 0px;
  padding: 8px;
  background-color: #f7f7f7;
  border: 1px solid #eee;
  border-radius: 2px;
}
.options:hover {
  background-color: #bcbcbc;
  border: 1px solid #eee;
  border-radius: 2px;
  cursor: pointer;
}

.correct-ans {
  font-size: 13px;
  color: green;
}

.checkAns {
  width: 90px;
  border: none;
  background-color: var(--bg-color);
  color: white;
  padding: 8px 15px;
  border-radius: 50px;
}

.d-none {
  display: none;
}
.left {
  gap: 10px;
  display: flex;
}
@media (max-width: 768px) {
  .quesOption {
    grid-template-columns: repeat(1, 1fr);
  }
  .options {
    width: auto;
    margin: 6px 0px;
    padding: 8px;
  }
  .correct-ans {
    font-size: 12px;
    color: green;
  }
  .checkAns {
    width: 80px;
    border: none;
    background-color: var(--bg-color);
    color: white;
    padding: 8px 15px;
    border-radius: 50px;
  }
}
